<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<!-- Uncomment for logging ALL HTTP request and responses -->
	<!-- 	<logger name="io.gatling.http.ahc.AsyncHandlerActor" level="TRACE" /> -->
	<!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
	<!-- 	<logger name="io.gatling.http.ahc.AsyncHandlerActor" level="DEBUG" /> -->

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="org.springframework" level="info"
                additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.excilys.cdb" level="info"
                additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>
